body{
	background-color: white;
	text-align: center;
	font-family: "PT Sans";
	background-color: #fbffd8;
}

header{
	font-size: 100px;
	font-family: "PT Sans";
}

.important{
	background-color: white;
}

.canvas{
	height: 35px;
	width: 35px;
	border-color: black;
	background-color: white;
	border-style: solid;
	display: inline-block;
}

/*#selectedColorName{
	background-color: white;
	height: 35px;
	width: 50px;
}*/

/*#maroon{
	background-color: maroon;
	height: 30px;
	width: 30px;
}

#crimson{
	background-color: crimson;
	height: 30px;
	width: 30px;
}

#red{
	background-color: red;
	height: 30px;
	width: 30px;
}

#orangered{
	background-color: orangered;
	height: 30px;
	width: 30px;
}

#tomato{
	background-color: tomato;
	height: 30px;
	width: 30px;
}

#orange{
	background-color: orange;
	height: 30px;
	width: 30px;
}

#yellow{	
	background-color: yellow;
	height: 30px;
	width: 30px;
}

#green{
	background-color: green;
	height: 30px;
	width: 30px;
}

#blue{
	background-color: blue;
	height: 30px;
	width: 30px;
}

#purple{
	background-color: darkorchid;
	height: 30px;
	width: 30px;
}*/